language: node_js
node_js:
  - 13
  - 14
os:
  - linux
cache:
  directories:
    - node_modules
install:
  - npm i
before_script:
  - npm run build
after_success:
  - npm run test:lint
jobs:
  include:
    - stage: allow_failures
      node_js: 15
#  - stage: deploy
#    node_js: lts/*
#    deploy:
#      provider: script
#      cleanup: true
#      script: ./scripts/deploy-travis.sh
#      on:
#        branch: master
